.bg-color {
    background-color: #3685fb;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .8rem 2rem;
}

.btn-color {
    background-color: #589bff;
    color: #fff;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.icon-color {
    background: linear-gradient(160deg, #39bdff 0, #55bcfc 25%, #00aeff 50%, #0098f6 75%, #0084ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    color: #777;
}