.bg-color {
    background-color: #3685fb;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .8rem 2rem;
}

.btn-color {
    background-color: #589bff;
    color: #fff;
}


