.bg-color {
    background-color: #3685fb;
}

.bg-light {
background: #fff;
}

.footer-color {
    background-color: #184d70;
    /* background-color: #2a76a7; */
}

.btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: .8rem 2rem;
    border: none;
}

.btn-color {
    background-color: #589bff;
    color: #fff;
    transition: .2s;
}

.btn-color:hover {
    background-color: #176cec;
    color: #fff;
}

.btn-light {
    background: #f4f4f4;
    color: #589bff;
}

.icon-color {
    background: linear-gradient(160deg, #39bdff 0, #55bcfc 25%, #00aeff 50%, #0098f6 75%, #0084ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    color: #999;
}

.font-blue {
    color: #589bff;
}

.space {
    padding: .5rem;
}

.space-top {
    padding-top: .5rem;
}